<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO vue</title>
</head>
<body id="app">
    <input v-model="valeurDeInput" type="text" name="" id="">
    <button v-on:click="ajouterTask">Valider</button>
    <ul>
        <li v-for="uneTask in tasks">{{uneTask}}</li>
    </ul>
    <!-- Get the latest version of vue js -->
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="todo.js"></script>

</body>
</html>